@media (max-width: 990px) {
  form {
    width: 70%;
    margin: auto;
  }
  form label {
    display: none;
  }
  .form-inline .text-field {
    display: inline-block;
    margin: 10px;
    text-align: left;
  }
  .form-inline .phone-number {
    display: block !important;
    margin: 10px auto;
    text-align: left;
    width: 80%;
  }
  .form-inline .phone-number input {
    width: 100%;
  }
  .callback-block .button-submit {
    margin: 10px;
  }
}
@media (max-width: 850px) {
  header nav .main-menu li {
    margin-right: 2%;
  }
}
@media (max-width: 810px) {
  header nav .main-menu li {
    margin-right: 1%;
    font-size: 1.3rem;
  }
  .benefits-of-moving .description-benefits .glyphicon-ok {
    margin-bottom: 1%;
  }
  .benefits-of-moving .description-benefits p {
    margin-bottom: 5%;
  }
}
@media (max-width: 720px) {
  header nav .main-menu {
    padding-left: 0;
  }
}
@media (max-width: 680px) {
  header nav .main-menu li {
    display: block;
  }
  .testimonials-block .control-buttons .left {
    left: 44%;
  }
  .testimonials-block .control-buttons .right {
    right: 44%;
  }
}
@media (max-width: 650px) {
  .callback-block .form-inline .text-field {
    display: block;
  }
  .callback-block .form-inline .phone-number {
    width: 96%;
  }
  .callback-block .form-inline .button-submit {
    padding: 10px 20px;
  }
}
@media (max-width: 550px) {
  .testimonials-block .control-buttons .left {
    left: 42%;
  }
  .testimonials-block .control-buttons .right {
    right: 42%;
  }
  .main-banner .main-title h1 {
    margin-bottom: 1%;
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .callback-block .form-inline .phone-number {
    width: 93%;
  }
  .callback-block .form-inline .button-submit {
    padding: 5px 20px;
    font-size: 1.5rem;
  }
  .testimonials-block .control-buttons .left {
    left: 39%;
  }
  .testimonials-block .control-buttons .right {
    right: 39%;
  }
  .carousel .carousel-inner .item {
    height: 50vh;
    margin-top: 15%;
  }
}
